name: Nginx-CI

on:
  workflow_dispatch:

env:
    PCRE: pcre-8.45
    PCRE2: pcre2-10.47

jobs:
  nginx_126x_amd64:
    name: Nginx 1.26.x on ubuntu-20.04 amd64
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          ref: main

      - name: Get dependencies
        run: |
          sudo -E apt-get update
          sudo -E apt-get -y install build-essential autoconf automake libtool git wget curl
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean
          df -h
      - name: Build
        run: |
          NGINX=$(wget -qO- --no-check-certificate https://nginx.org/en/download.html | grep -m1 -E "nginx-1.26.([0-9]+).tar.gz" | sed -E "s/.*(nginx-1.26.[0-9]+).tar.gz.*/\1/gm" )
          OPENSSL=$(wget -qO- --no-check-certificate https://www.openssl-library.org/source/ | grep -m1 -E "openssl-3(\.[0-9]+){0,2}.tar.gz" | sed -E "s/.*(openssl-.*).tar.gz.*/\1/gm" )
          ZLIB=$(wget -qO- --no-check-certificate https://zlib.net/ | grep -m1 -E "zlib-([0-9]+\.){0,3}tar.gz" | sed -E "s/.*(zlib-.*).tar.gz.*/\1/gm" )
          wget -qO- --no-check-certificate https://nginx.org/download/${NGINX}.tar.gz | tar -xz
          wget -qO- --no-check-certificate https://github.com/openssl/openssl/releases/download/${OPENSSL}/${OPENSSL}.tar.gz | tar -xz
          wget -qO- --no-check-certificate https://github.com/PCRE2Project/pcre2/releases/download/${PCRE2}/${PCRE2}.tar.gz | tar -xz
          wget -qO- --no-check-certificate https://www.zlib.net/${ZLIB}.tar.gz | tar -xz
          echo "NGINX=${NGINX}" >> $GITHUB_ENV

          cd ${NGINX}
          ./configure --prefix=/usr/local/nginx \
          --conf-path=/etc/nginx/nginx.conf \
          --pid-path=/var/lib/nginx/nginx.pid \
          --lock-path=/var/lib/nginx/nginx.lock \
          --with-http_ssl_module \
          --with-http_v2_module \
          --with-http_sub_module \
          --with-http_gzip_static_module \
          --with-http_slice_module \
          --with-http_stub_status_module \
          --with-stream \
          --with-stream_ssl_module \
          --with-pcre=../${PCRE2} \
          --with-zlib=../${ZLIB} \
          --with-openssl=../${OPENSSL}
          make

      - name: Configure
        run: |
          mkdir -p ./targets/${{ env.NGINX }}/{sbin,logs}
                
          cd ./${{ env.NGINX }}
          cp objs/nginx ../targets/${{ env.NGINX }}/sbin/nginx
          cp -R html ../targets/${{ env.NGINX }}/
          cp -R conf ../targets/${{ env.NGINX }}/
                
          cd ../targets/${{ env.NGINX }}/conf
          cp mime.types mime.types.default
          cp fastcgi_params fastcgi_params.default
          cp fastcgi.conf fastcgi.conf.default
          cp uwsgi_params uwsgi_params.default
          cp scgi_params scgi_params.default
          cp nginx.conf nginx.conf.default

      - name: Configure file
        run: |
          cp nginx.service ./targets/${{ env.NGINX }}/
          cp -f conf.d/nginx.conf ./targets/${{ env.NGINX }}/conf/
                
          mkdir -p ./targets/${{ env.NGINX }}/conf/conf.d
          cp -f conf.d/{default.conf,fastcgi_php.conf,nginx-ssl-php.conf} ./targets/${{ env.NGINX }}/conf/conf.d/

      - name: Deploy
        run: |
          cd ./targets
          echo "FILE_DATE=_$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV
          tar czvf ${{ env.NGINX }}.tar.gz ${{ env.NGINX }}
          rm -rf ${{ env.NGINX }}
                
      - name: Upload
        uses: actions/upload-artifact@master
        with:
          name: ${{ env.NGINX }}${{ env.FILE_DATE }}
          path: ./targets/

  nginx_120x_amd64:
    name: Nginx 1.20.x on ubuntu-20.04 amd64
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          ref: main

      - name: Get dependencies
        run: |
          sudo -E apt-get update
          sudo -E apt-get -y install build-essential autoconf automake libtool git wget curl
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean
          df -h
      - name: Build
        run: |
          NGINX=$(wget -qO- --no-check-certificate https://nginx.org/en/download.html | grep -m1 -E "nginx-1.20.([0-9]+).tar.gz" | sed -E "s/.*(nginx-1.20.[0-9]+).tar.gz.*/\1/gm" )
          OPENSSL=$(wget -qO- --no-check-certificate https://www.openssl-library.org/source/ | grep -m1 -E "openssl-3(\.[0-9]+){0,2}.tar.gz" | sed -E "s/.*(openssl-.*).tar.gz.*/\1/gm" )
          ZLIB=$(wget -qO- --no-check-certificate https://zlib.net/ | grep -m1 -E "zlib-([0-9]+\.){0,3}tar.gz" | sed -E "s/.*(zlib-.*).tar.gz.*/\1/gm" )
          wget -qO- --no-check-certificate https://nginx.org/download/${NGINX}.tar.gz | tar -xz
          wget -qO- --no-check-certificate https://github.com/openssl/openssl/releases/download/${OPENSSL}/${OPENSSL}.tar.gz | tar -xz
          wget -qO- --no-check-certificate https://ftp.exim.org/pub/pcre/${PCRE}.tar.gz | tar -xz
          wget -qO- --no-check-certificate https://www.zlib.net/${ZLIB}.tar.gz | tar -xz
          echo "NGINX=${NGINX}" >> $GITHUB_ENV

          cd ${NGINX}
          ./configure --prefix=/usr/local/nginx \
          --conf-path=/etc/nginx/nginx.conf \
          --pid-path=/var/lib/nginx/nginx.pid \
          --lock-path=/var/lib/nginx/nginx.lock \
          --with-http_ssl_module \
          --with-http_v2_module \
          --with-http_sub_module \
          --with-http_gzip_static_module \
          --with-http_slice_module \
          --with-http_stub_status_module \
          --with-stream \
          --with-stream_ssl_module \
          --with-pcre=../${PCRE} \
          --with-zlib=../${ZLIB} \
          --with-openssl=../${OPENSSL}
          make

      - name: Configure
        run: |
          mkdir -p ./targets/${{ env.NGINX }}/{sbin,logs}
                
          cd ./${{ env.NGINX }}
          cp objs/nginx ../targets/${{ env.NGINX }}/sbin/nginx
          cp -R html ../targets/${{ env.NGINX }}/
          cp -R conf ../targets/${{ env.NGINX }}/
                
          cd ../targets/${{ env.NGINX }}/conf
          cp mime.types mime.types.default
          cp fastcgi_params fastcgi_params.default
          cp fastcgi.conf fastcgi.conf.default
          cp uwsgi_params uwsgi_params.default
          cp scgi_params scgi_params.default
          cp nginx.conf nginx.conf.default

      - name: Configure file
        run: |
          cp nginx.service ./targets/${{ env.NGINX }}/
          cp -f conf.d/nginx.conf ./targets/${{ env.NGINX }}/conf/
                
          mkdir -p ./targets/${{ env.NGINX }}/conf/conf.d
          cp -f conf.d/{default.conf,fastcgi_php.conf,nginx-ssl-php.conf} ./targets/${{ env.NGINX }}/conf/conf.d/

      - name: Deploy
        run: |
          cd ./targets
          echo "FILE_DATE=_$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV
          tar czvf ${{ env.NGINX }}.tar.gz ${{ env.NGINX }}
          rm -rf ${{ env.NGINX }}
                
      - name: Upload
        uses: actions/upload-artifact@master
        with:
          name: ${{ env.NGINX }}${{ env.FILE_DATE }}
          path: ./targets/

  nginx_118x_amd64:
    name: Nginx 1.18.x on ubuntu-20.04 amd64
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          ref: main

      - name: Get dependencies
        run: |
          sudo -E apt-get update
          sudo -E apt-get -y install build-essential autoconf automake libtool git wget curl
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean
          df -h
      - name: Build
        run: |
          NGINX=$(wget -qO- --no-check-certificate https://nginx.org/en/download.html | grep -m1 -E "nginx-1.18.([0-9]+).tar.gz" | sed -E "s/.*(nginx-1.18.[0-9]+).tar.gz.*/\1/gm" )
          OPENSSL="openssl-1.1.1w"
          ZLIB=$(wget -qO- --no-check-certificate https://zlib.net/ | grep -m1 -E "zlib-([0-9]+\.){0,3}tar.gz" | sed -E "s/.*(zlib-.*).tar.gz.*/\1/gm" )
          wget -qO- --no-check-certificate https://nginx.org/download/${NGINX}.tar.gz | tar -xz
          wget -qO- --no-check-certificate https://github.com/openssl/openssl/releases/download/OpenSSL_1_1_1w/${OPENSSL}.tar.gz | tar -xz
          wget -qO- --no-check-certificate https://ftp.exim.org/pub/pcre/${PCRE}.tar.gz | tar -xz
          wget -qO- --no-check-certificate https://www.zlib.net/${ZLIB}.tar.gz | tar -xz
          echo "NGINX=${NGINX}" >> $GITHUB_ENV

          cd ${NGINX}
          ./configure --prefix=/usr/local/nginx \
          --conf-path=/etc/nginx/nginx.conf \
          --pid-path=/var/lib/nginx/nginx.pid \
          --lock-path=/var/lib/nginx/nginx.lock \
          --with-http_ssl_module \
          --with-http_v2_module \
          --with-http_sub_module \
          --with-http_gzip_static_module \
          --with-http_slice_module \
          --with-http_stub_status_module \
          --with-stream \
          --with-stream_ssl_module \
          --with-pcre=../${PCRE} \
          --with-zlib=../${ZLIB} \
          --with-openssl=../${OPENSSL}
          make

      - name: Configure
        run: |
          mkdir -p ./targets/${{ env.NGINX }}/{sbin,logs}
                
          cd ./${{ env.NGINX }}
          cp objs/nginx ../targets/${{ env.NGINX }}/sbin/nginx
          cp -R html ../targets/${{ env.NGINX }}/
          cp -R conf ../targets/${{ env.NGINX }}/
                
          cd ../targets/${{ env.NGINX }}/conf
          cp mime.types mime.types.default
          cp fastcgi_params fastcgi_params.default
          cp fastcgi.conf fastcgi.conf.default
          cp uwsgi_params uwsgi_params.default
          cp scgi_params scgi_params.default
          cp nginx.conf nginx.conf.default

      - name: Configure file
        run: |
          cp nginx.service ./targets/${{ env.NGINX }}/
          cp -f conf.d/nginx.conf ./targets/${{ env.NGINX }}/conf/
                
          mkdir -p ./targets/${{ env.NGINX }}/conf/conf.d
          cp -f conf.d/{default.conf,fastcgi_php.conf,nginx-ssl-php.conf} ./targets/${{ env.NGINX }}/conf/conf.d/

      - name: Deploy
        run: |
          cd ./targets
          echo "FILE_DATE=_$(date +"%Y%m%d%H%M")" >> $GITHUB_ENV
          tar czvf ${{ env.NGINX }}.tar.gz ${{ env.NGINX }}
          rm -rf ${{ env.NGINX }}
                
      - name: Upload
        uses: actions/upload-artifact@master
        with:
          name: ${{ env.NGINX }}${{ env.FILE_DATE }}
          path: ./targets/
